.logo {
    width: 122px;
}

.nav {
    float: right;
    padding-top: 8px;
}
.nav a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-size: 15px;
}

.header-top {
    max-width: 845px;
    margin: 0 auto;
}

.mainvisual {
    width: 100%;
    height: 605px;
    margin-bottom: 10px;
}

.about h2 {
    color: #383e45;
    border-bottom: solid 1px #383e45;
    width: fit-content;
    font-size: 32px;
    margin: 60px auto;
}
    
.main-wrapper {
    width: 900px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.about-inner {
    display: flex;
    align-items: center;
}

.about-inner img {
    max-width: 110px;
    height: 110px;
    margin-left: 180px;
    border-radius: 50%;
}

.about-text {
    margin-left: 30px;
    color: #383e45;
    font-size: 13px;
}


.bicycle-inner {
    display: flex;
}

.bicycle-item {
    flex: auto;
}

.bicycle-item img {
    width: 280px;
}

.bicycle-item h3 {
    text-align: center;
    color: #383e45;
    font-size: 16px;
    margin-bottom: 0;
} 

.bicycle-item p {
    text-align: center;
    font-size: 14px;
    color: #383e45;
    margin-top: 10px;
}

.bicycle h2 {
    color: #383e45;
    border-bottom: solid 1px #383e45;
    width: fit-content;
    font-size: 32px;
    margin: 60px auto;
    padding-top: 40px; 
}

.footer {
    text-align: center;
    margin-top: 98px;
    font-size: 5px;
    color: #383e45;
}